body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.page-header-image2 {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.container {
  margin: 0;
}

.col {
  margin: 0;
}

.row {
  margin: 0;
}

.styles-module_day-column__30McI .styles-module_title__2VBFp {
  color: black;
}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .a { background-color: rgb(122,0,0); }
.legend .b { background-color: rgb(163,0,0) }
.legend .c { background-color: rgb(204,14,0) }
.legend .d { background-color: rgb(239,51,11) }
.legend .e { background-color: rgb(254,104,47) }
.legend .f { background-color: rgb(255,146,87) }
.legend .g { background-color: rgb(255,186,122) }

@media (min-width: 2000px) {
  .container-map {
    width: 1000px !important;
  }
}

@media (min-width: 2000px) {
  .map-test {
    width: 1000px !important;
  }
}

.input-error {
  border-width: 3px;
  border-color: #e63946;
}

.error {
  color: #e63946;
  font-size: 1rem;
  margin-top: 0.3rem;
}
